header{
 padding: 40px 0px;
 text-align: center;
}

#content{
	margin-left: auto;
	margin-right: auto;
}
#calculator{
  width: 281px;
  margin-left: auto;
  margin-right: auto;
  border: steelblue outset 3px;
  padding: 20px 20px 5px 20px;
}

#calc-screen{
  text-align: right;
}

.col-numbers, .col-ops{
  position: relative;
  min-height: 1px;
}

.col-numbers{
  float: left;
  width: 165px;
}

.col-ops{
  float: right;
}

input.btn.btn-default.btn-lg {
	height: 50px;
	width: 50px;
	margin: 0px 2px 4px 0px;
}

footer{
  padding: 20px 0px;
}

.clear{
  clear: both;
}