#content{
	margin-left: auto;
	margin-right: auto;
}
#calculator{
	margin-left: auto;
	margin-right: auto;
}
#calc-screen{
	text-align: right;
	width: 245px;
}

input.btn.btn-default.btn-lg {
	height: 50px;
	width: 50px;
	margin: 0px 2px 4px 0px;
}